@model webFinal.Models.Categorium

@{
    ViewData["Title"] = "Create";
}

<div class="btn btn-propio">
    <a class="text-white" id="link" asp-action="Index"><</a>
</div>

<h1>Crear Categoria</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Idcategoria" class="control-label"></label>
                <input asp-for="Idcategoria" class="form-control" />
                <span asp-validation-for="Idcategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreCat" class="control-label"></label>
                <input asp-for="NombreCat" class="form-control" />
                <span asp-validation-for="NombreCat" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Crear" class="btn btn-propio text-white" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
