@model webFinal.Models.Categorium

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de la Categoria</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCat)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-propio text-white" asp-action="Index">Regresar</a> |
    <a class="btn btn-primary text-white" asp-action="Edit" asp-route-id="@Model?.Idcategoria">Editar</a>
</div>
